@import "https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/light/main.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9837 0.0051 247.8759);
  --foreground: oklch(0.2762 0.0514 259.0249);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2762 0.0514 259.0249);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2762 0.0514 259.0249);
  --primary: oklch(0.5663 0.2398 274.5785);
  --primary-2: oklch(0.521 0.238 268.521);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9271 0.0075 260.7315);
  --secondary-foreground: oklch(0.3689 0.0423 259.2778);
  --muted: oklch(0.9665 0.0045 258.3247);
  --muted-foreground: oklch(0.5471 0.0321 263.2921);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.3689 0.0423 259.2778);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8708 0.0128 255.5128);
  --input: oklch(0.8708 0.0128 255.5128);
  --ring: oklch(0.5663 0.2398 274.5785);
  --chart-1: oklch(0.5663 0.2398 274.5785);
  --chart-2: oklch(0.4927 0.2865 271.1467);
  --chart-3: oklch(0.4436 0.2744 269.6681);
  --chart-4: oklch(0.3833 0.2294 270.4276);
  --chart-5: oklch(0.3388 0.1805 272.9471);
  --sidebar: oklch(0.9665 0.0045 258.3247);
  --sidebar-foreground: oklch(0.2762 0.0514 259.0249);
  --sidebar-primary: oklch(0.5663 0.2398 274.5785);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.3689 0.0423 259.2778);
  --sidebar-border: oklch(0.8708 0.0128 255.5128);
  --sidebar-ring: oklch(0.5663 0.2398 274.5785);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2025 0.0543 264.7546);
  --foreground: oklch(0.9274 0.0178 253.3431);
  --card: oklch(0.2762 0.0514 259.0249);
  --card-foreground: oklch(0.9274 0.0178 253.3431);
  --popover: oklch(0.2762 0.0514 259.0249);
  --popover-foreground: oklch(0.9274 0.0178 253.3431);
  --primary: oklch(0.6682 0.1771 276.2341);
  --primary-2: oklch(0.623 0.176 270.18);
  --primary-foreground: oklch(0.2025 0.0543 264.7546);
  --secondary: oklch(0.3313 0.0451 260.0922);
  --secondary-foreground: oklch(0.8708 0.0128 255.5128);
  --muted: oklch(0.2762 0.0514 259.0249);
  --muted-foreground: oklch(0.7098 0.0273 261.1226);
  --accent: oklch(0.3689 0.0423 259.2778);
  --accent-foreground: oklch(0.8708 0.0128 255.5128);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(0.2025 0.0543 264.7546);
  --border: oklch(0.4419 0.0375 257.2811);
  --input: oklch(0.4419 0.0375 257.2811);
  --ring: oklch(0.6682 0.1771 276.2341);
  --chart-1: oklch(0.6682 0.1771 276.2341);
  --chart-2: oklch(0.5663 0.2398 274.5785);
  --chart-3: oklch(0.4927 0.2865 271.1467);
  --chart-4: oklch(0.4436 0.2744 269.6681);
  --chart-5: oklch(0.3833 0.2294 270.4276);
  --sidebar: oklch(0.2762 0.0514 259.0249);
  --sidebar-foreground: oklch(0.9274 0.0178 253.3431);
  --sidebar-primary: oklch(0.6682 0.1771 276.2341);
  --sidebar-primary-foreground: oklch(0.2025 0.0543 264.7546);
  --sidebar-accent: oklch(0.3689 0.0423 259.2778);
  --sidebar-accent-foreground: oklch(0.8708 0.0128 255.5128);
  --sidebar-border: oklch(0.4419 0.0375 257.2811);
  --sidebar-ring: oklch(0.6682 0.1771 276.2341);
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root,
html,
body {
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cursor-crosshair {
  cursor: crosshair;
}

.btn {
  padding: 8px 8px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  stroke: var(--primary);
  cursor: pointer;
}

.btn:active {
  background-image: linear-gradient(90deg, var(--primary), #3551f1);
  stroke: white;
}

.active {
  background-image: linear-gradient(90deg, var(--primary), #3551f1);
  stroke: white;
}

.zoom {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 5px 0;
}

.zoom-in:active,
.zoom-out:active {
  background-image: linear-gradient(90deg, var(--primary), #3551f1);
  color: white;
}

.zoom-in,
.zoom-out {
  padding: 8px 8px;
  width: 38px;
  height: 38px;
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: var(--primary);
  cursor: pointer;
}

.pencil.open{
  background-image: linear-gradient(90deg, var(--primary), #3551f1);
  stroke: white;
}

.tools-container {
  height: 0;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  transition: visibility 0.2s, height 0.2s;
}

.tools-container.open {
  height: 100%;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 6px;
}

.draw-btn {
  opacity: 0;
  margin-inline: auto;
  transform: translateX(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.tools-container.open .draw-btn:nth-child(1) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 50ms;
}

.tools-container.open .draw-btn:nth-child(2) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 100ms;
}

.tools-container.open .draw-btn:nth-child(3) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 150ms;
}

.tools-container.open .draw-btn:nth-child(4) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 200ms;
}

.tools-container.open .draw-btn:nth-child(5) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 250ms;
}

.tools-container.open .draw-btn:nth-child(6) {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
  transition-delay: 300ms;
}

.map:has(#measurement:checked) {
  cursor: crosshair;
}

.esri-popup, .esri-popup__main-container {
  border-radius: 16px !important;
}

.esri-feature__content-node, .esri-features__container:not(:empty) {
  padding: 0 !important;
  margin: 0 !important;
}
